@model List<Category>

<div class="card border-0 mt-5">
    <div class="card-header bg-transparent">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="p-3">Category List</h2>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6 text-end">
                    <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-circle me-1"></i>  Create New Category
                    </a>
                </div>
                
                <table class="table table-bordered table-striped mt-4">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.Id</td>
                            <td>@obj.Name</td>
                            <td class="text-end">
                                <div class="w-50 btn-group" role="group">
                                    <a asp-controller="Category" asp-action="" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil"></i> Edit
                                    </a>
                                    <a asp-controller="Category" asp-action="" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                        <i class="bi bi-trash"></i> Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>